.rewards{
    border: 3px solid;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background: black;
    padding: 15px;
    position: fixed;
    bottom: 2%;
    right: 2%;
}
.para1{
    background-color: black;
    color: white;
    text-align: center;   
    justify-content: center;
    align-items: center;  
}
.para1 p{
    padding: 20px;
}

.para1 a:link{
    color: white;
}

.para1 a:visited{
    color: white;
}


.navbar1_2{
    margin-right: auto;
    margin-left: auto;

    place-items: center;
    text-align: center;
}

/* 
.navbar1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar .navbar1{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar1_2 img{
    height: 100px;
    width: 300px;  
 
}


.navbar1_1 div{
    width: 35px;
    height: 6px;
    background-color: black;
    margin: 6px;
}


ul{ 
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
ul li{
    list-style: none;
    padding: 4px;
}

li i{
    color: black; 
} */






.button1{
    margin: 20px;
    text-align: center;
}
.button1 button{
    margin: 40px 20px;
    padding: 15px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight: 700;
}

.button1 button:hover{
background-color: white;
color: black;
}
    
.button1 button:hover{
background-color: white;
color: black;
} 
.flex1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.flex1_2 img{
    height: 425px;
    width: 300px;
}

.viewall{
    text-align: center;
    
}

.viewalll{
    padding: 15px 30px 15px 30px;  
    background: white;
    font-weight: 500;
}
.viewalll:hover{
    border: 3px solid black;
   
}
.trending{
    text-align: center;
    margin-top: 80px;
}


.flex2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.flex2_2 img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 10px;
}

.flex2_3:hover{
    animation: scaleanimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;   
}

@keyframes scaleanimation{
    100%{transform: scale(1.1,1.1);}
}



.button2 div button{
    padding: 20px;
    width: 120px;
    font-weight: 700;
    background: white;
    border-radius: 30px ;
    margin: 20px 25px;
    border: 3px  solid;
}
.shirt:hover{
    background-color: black;
    color: white;
}
.tshirt:hover{
    background-color: black;
    color: white;
} 
.trouser:hover{
    background-color: black;
    color: white;
}


.last_panel{
    border: 3px solid;
}

.last_panel h3{
    text-decoration: underline ;
    font-size: 20px; 
}

.sign{
    margin-top: 30px;
}
.email{
    width: 30%;
    font-size: large;
}
.email input{
    border: 0px solid ;
    font-size: large;
}

.hr1{
    opacity: 1;
    border: 1px solid;
    max-width: 220px;
}

.icons{
    width: 80%;  
    margin-top: 30px;
    margin-bottom: 30px;
}

.lastdiv{
    text-align: center;

}

.lastdiv p{
    margin: auto;
}